<!DOCTYPE html>
<html ng-app="tiendaOnline_DAW2022">

<head>
    <meta charset="UTF-8">
    <title>La Libroteca Online</title>
    <link rel="stylesheet" type="text/css" href="estilos/estilo.css"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body ng-controller="renderData">

    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <a class="navbar-brand" href="#">La Libroteca</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsarNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsarNavbar">
            
        </div>
        <a href="#">                            
            <span class="glyphicon glyphicon-shopping-cart" ng-click="validarCompra()">{{ total() | currency }}</span>
        </a>
    </nav>

    <div class="jumbotron text-center" style="margin-bottom:0">
        
        <div id="slider" class="carousel slide" data-ride="carousel">
            
            <!-- imagenes para el slider -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="imagen/sagaLibros04.png" alt="Lee regularmente" style="width:100%;">
              </div>
        
              <div class="item">
                <img src="imagen/sagaLibros.jpg" alt="leer es sano" style="width:100%;">
              </div>
            
              <div class="item">
                <img src="imagen/sagaLibros02.jpg" alt="Leer es alimento para la mente" style="width:100%;">
              </div>
            </div>
        
            <!-- Controles para desplazar imagenes en el slider -->
            <a class="left carousel-control" href="#slider" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#slider" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Siguiente</span>
            </a>
        </div>

    </div>

    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-6">
                <h4><strong>Libros de la categoría: </strong>{{buscarCat.cat_nombre}}</h4>
            </div>
            <div class="col-sm-3">
                <input type="text" id="buscador" ng-model="buscarTitulo" placeholder="Buscador..." title="escriba un titulo o escritor">
            </div>
            <div class="col-sm-3">
                <select id="buscador" ng-model="buscarCat" ng-options="cat.cat_nombre for cat in Libros.categorias">
                    <option value>Todos</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" ng-repeat="libro in librosFiltrados = (Libros.productos | filter:buscarTitulo | filter:{cat_id:buscarCat.cat_id || undefined} | orderBy: 'nombre' )">
                <div class="thumbnail">
                    <a href="#" data-toggle="modal" data-target="#detalle" ng-click="selectInfo(libro.prod_id)">
                        <img src="{{libro.imagen}}" alt="Lights" style="width:100%">
                        <div class="caption">
                            <p>{{libro.nombre}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Tienda En linea de venta de libros por Jorge Díaz y Eduardo Matías UDB DAW-2022</p>
    </div>

    <!-- Modal carrito de compra -->
    <div class="modal fade" id="carrito">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
            
                <div class="modal-header">
                    <h4 class="modal-title">Carrito de compra</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <div class="modal-body">
                     <table class="table table-bordered">
                         <tr>
                            <th>PRODUCTO</th>
                            <th>PRECIO</th>
                            <th>CANTIDAD</th>
                            <th>SUB TOTAL</th>
                         </tr>
                         <tr ng-repeat="libro in carrito | orderBy: 'nombre' ">
                             <th>{{libro.nombre}}</th>
                             <th>{{libro.precio}}</th>
                             <th>{{libro.cantidad}}</th>
                             <th>{{(costo(libro) | currency)}}</th>
                         </tr>
                    </table>
                </div>
                
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-11">
                            
                        </div>
                        <div class="col-md-1">
                            <strong><h4>{{ total() | currency }}</h4></strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" >CERRAR</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-dark" data-dismiss="modal" data-dismiss="modal" data-toggle="modal" data-target="#confirmarCompra"><span class="glyphicon glyphicon-credit-card"> PAGAR</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de cada libro -->
    <div class="modal fade" id="detalle">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" ng-repeat="libro in Libros.productos" ng-show="libroActual == libro.prod_id">    

                <div class="modal-body">
                    <input type="text" hidden value="{{id}}">
                    <img src="{{imagen}}" alt="Lights" style="width:50%">
                    <div class="row">
                        <div class="col-md-9">
                            <h4 class="modal-title">{{nombre}}</h4>
                        </div>
                        <div class="col-md-3">
                            <h3><b>${{precio}}</b></h3>
                        </div>
                    </div>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <p>{{descripcion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="agregarLibro(libro)"><span class="glyphicon glyphicon-shopping-cart">AGREGAR</span></button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal de éxito al pagar, lol-->
    <div class="modal fade" id="confirmarCompra">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" ng-repeat="libro in Libros.productos" ng-show="libroActual == libro.prod_id">    

                <div class="modal-header">
                    <h4 class="modal-title">Carrito de compra</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <h4>¡Su compra ha sido un éxito!</h4>
                    <p> 
                        En breve se le enviará un correo con la factura de su compra. 
                            <br/>
                            <br/>
                        Vuelva pronto.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="limpiarCarrito()"><span class="glyphicon glyphicon-shopping-cart">CERRAR</span></button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal del carrito cuando no hay libros encargados-->
    <div class="modal fade" id="carritoVacio">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">  
                
                <div class="modal-header">
                    <h4 class="modal-title">Carrito de compra</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body text-center">
                    <h5>Su carrito de compra está vacío</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
    <script src="js/utils.js"></script>
</body>

</html>